$secondaryColor: #64b5f6;
$textColor: #333;

.table {
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
    text-align: left;
  }

  th {
    background-color: $secondaryColor;
    color: white;
  }

  td {
    background-color: white;
    color: $textColor;
  }
}
